$colorfondo: rgba(52, 2, 109, 0.596);

*{
    font-family: 'Roboto', sans-serif !important;
    list-style-type: none !important;
    text-decoration: none !important;
    margin: 0%;
    padding: 0%;    
  }


@import "_body";
@import "_header";
@import "_main";
@import "_footer";
@import "_media";